.title{
    text-decoration-style: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: rgb(0, 0, 0);
}

@font-face {
    font-family: customFont;
    src: url('Mega Brush.otf');
 }

.prduct{
    position: absolute;
    font-family: customFont;
    color: rgb(0, 0, 0);
    font-size: 17rem;
    line-height: 15rem;
    padding-left: 2rem;
}

.col.product_title{
    position: absolute;
    z-index: 0;
}

.col-6.carousel_image{
    z-index: 1;
}

.price{
    text-decoration-style: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: rgb(168, 0, 0);
    z-index: 2;
}