*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", monospace;
}

.footer-container {
    background-color: #212320;
    padding: 10px;
    bottom: 0;
    width: 100%;
    height: 40%;
}

.footer{
    width :100%;
    height: 20;
    background-color: #212320;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.footer-heading {
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
}

.footer-heading h2 {
    margin-bottom: 1rem ;
    margin-top: 2rem;
}

.footer-heading a{
    color: #fff;
    text-decoration: none;
}

.footer-heading a:hover{
    color: red;
    transition: 0.3s ease-out;
}

.footer-email-form h2{
    margin-bottom: 2rem;
    margin-top: 2rem;
}

#footer-email{
    width: 250px;
    height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    padding-left: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
}

/*#footer-email-btn{
    color: #fff;
    width: 100px;
    height: 40px;
    border-radius: 4px;
    border: none;
    font-size: 1rem;
    background-color: #F9423D;
}*/

.btn-footer {
    width: 100px;
    height: 40px;
    font-size: 1rem;
    background-color: #F9423D;
    color: white;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 4px;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
   }
   
   .btn-footer span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
   }
   
   .btn-footer svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
   }
   
   .btn-footer:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
   }
   
   .btn-footer:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
   }
   
   .btn-footer:hover span {
    transform: translateX(5em);
   }
   
   .btn-footer:active {
    transform: scale(0.95);
   }
   
   @keyframes fly-1 {
    from {
     transform: translateY(0.1em);
    }
   
    to {
     transform: translateY(-0.1em);
    }
   }   

#footer-email::placeholder{
    color: #b1b1b1;
}
#footer-email-btn:hover{
    cursor: pointer;
}

.social-icons .fa-brands{
    width: 70px;
    height: 40px;
    border-radius: 50%;
    padding-left: 40%;
    line-height: 40px;
    font-size: 40px;
    cursor: pointer;
    color:#fff;
    margin-top: 2rem;
    
}


    